<% provide :title, t("static_pages.about.title") %>
<div class="jumbotron">
  <div class="content-text">
    <h1><%= t "static_pages.about.h1" %></h1>
    <p><%= t "static_pages.about.p1" %></p>
    <h2><%= t "static_pages.about.h2" %></h2>
    <p><%= t "static_pages.about.p2" %></p>
  </div>
</div>
