<% provide :title, t("static_pages.home.title") %>
<div class="container slide_bar">
  <div class="col-sm-6 col-md-4 pull-right">
    <%= render "tours/search" %>
  </div>
</div>
<div id="gallery" class="gallery">
  <div class="container">
    <h3 class="title-w3-agile"><%= t "static_pages.home.hot" %></h3>
  </div>
</div>
