<% provide :title, t("static_pages.tours.title") %>
<div class="container slide_bar">
  <div class="col-sm-6 col-md-4 pull-right">
    <%= render "tours/search" %>
  </div>
</div>
<div id="gallery" class="gallery">
  <div class="container">
    <h3 class="title-w3-agile"><%= t "static_pages.tours.cat" %></h3>
    <div class="row">
      <%= render @tours %>
    </div>
    <%= paginate @tours, theme: "twitter-bootstrap-4" %>
  </div>
</div>
