<div class="search">
  <%= form_tag tours_path, method: :get do %>
    <%= text_field_tag :search, params[:search], class: "form-control",
      placeholder: t("form.place_holder") %>
    <%= submit_tag t("form.btn_search"), name: nil, class: "btn btn-info" %>
  <% end %>
</div>
