*{
  margin: 0px;
  padding: 0px;
}
ul.tour {
  height: 200px;
  overflow-y: scroll;
}
.col-md-2.home {
  background: black;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
}

.col-md-2.home a {
  color: white;
  text-decoration: none;
}

.menu ul li {
  height: 50px;
  background: #484848;
  width: 100%;
  line-height: 50px;
  padding-left: 19px;
  transition: 0.4s;
}

.menu ul li:hover {
  background: #132535;
  border-left: 8px solid white;
}

.menu ul li a {
  color: #cdffff;
  text-decoration: none;
}

.infouser ul {
  width: 100%;
  height: 100px;
}

.name_user {
  width: 70%;
  float: left;
  padding-top: 16px;
}

.name_user p {
  color: white;
  margin-bottom: 5px;
}

.name_user p a {
  color: black;
  text-decoration: none;
}

.infouser {
  padding: 10px 0px;
  height: 90px;
  line-height: 90px;
  margin-bottom: 30px;
}

.imguser {
  width: 30%;
  float: left;
  text-align: center;
}
.imguser img{
  width: 70%;
  background: #70b9cc;
  border-radius: 32px;
}
.action .foot {
  width: 80%;
  border-top: 2xp solid white;
  border-top: 6px dotted #bdbdbd;
  margin-top: 20px;
  padding: 20px 0px;
}

.row.item {
  width: 95%;
  height: 124px;
  background: #26d2c275;
  border-radius: 27px;
  margin-bottom: 20px;
  transition: 0.5s;
  box-sizing: content-box;
}

.item:hover a {
  color: white;
  text-shadow: 1px 1px 1px red;
}

.item:hover img {
  border: 5px solid white;
}

.item:hover {
  box-shadow: 1px 2px 7px -1px #0e0e0d;
  background: #0c7d73;
}

.main {
  width: 100%;
  height: auto;
}

.action {
  width: 84%;
  float: left;
  height: 892px;
  padding: 30px;
  background: #f3f7e6de;
}

.menu {
  width: 16%;
  float: left;
  height: 892px;
  background: #293f54;
}
.header {
  height: 50px;
}
.header .header_left {
  width: 16%;
  float: left;
  border-right: 1px solid #e8e8e8;
  padding: 0px;
  background: #f5f8e9;
  color: #00a4ce;
  text-transform: uppercase;
}
.header_left .booking_img {
  width: 20%;
  height: 50px;
  float: left;
}
.header_left h4 {
  width: 80%;
  float: left;
  padding-left: 20px;
  line-height: 29px;
  text-shadow: 2px -2px 1px #3c0b52;
  font-family: cursive;
}
.header .header_right {
  width: 84%;
  float: left;
  height: 50px;
}

form.navbar-form.navbar-left {
  margin-top: 0px;
}
.pagining {
  width: 60%;
  margin: 20px auto;
}
table.table.table-hover thead tr td {
  color: #47acd2;
  font-weight: bold;
}
.form_creat {
  width: 50%;
  padding: 20px 30px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}
.form_creat form label {
  margin-top: 10px;
}
.form_create h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #293f54;
}
.create {
  margin-top: 10px;
}
.alert_mess {
  width: 900px;
  margin: 0px auto;
}
.btn-info {
  text-transform: uppercase;
  padding: 8px 20px;
  float: right;
  margin-top: 20px;
}
.img-thumbnail {
  height: 100px !important;
  width: 200px !important;
}
