.history_booking h4 {
  color: red;
}

.history_booking p {
  color: #4c4c4c;
}

.container hr {
  padding-top: 2px;
  background: #bdc8cc;
}

.container h4{
  height: 40px;
  line-height: 40px;
  background: aliceblue;
  max-width: 400px;
  text-align: center;
}

.container .item_book {
  background: white;
}
